.container {
  max-width: 428px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header-list {
  display: none;
}
.address {
  display: none;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.webstudio-header.logo.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 22px;
}
.mobile-menu-button {
  display: flex;
}
.hero {
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/homepage/hero/mobile/hero-img@x1.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/homepage/hero/mobile/hero-img@x2.jpg);
  }
}
.hero-title {
    max-width: 320px;
    margin: 0 auto;
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing:0.02em;
    margin-bottom: 72px;
}
.features-list {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.features-list .features-item {
    width: 100%;
    margin: 0;
}
.features-name {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.icons {
  display: none;
}
.examples {
  display: none;
}
.team-list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.teammate {
    width: 264px;
}
.customers-list {
    justify-content: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.customers-item {
  flex-basis: calc((100% - 24px) / 2);
  height: 88px;
}
.customers-logo {
    width: 110px;
    height: 56px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.logotype-footer {
  display: block;
  text-align: center;
}
.footer-left-part {
    text-align: center;
    margin: 0;
}
.footer-right-part {
    text-align: center;
    margin: 0;
}
.footer-description {
  max-width: 268px;
}
.footer-social-text {
  text-align: center;
}
.footer-form-name {
  text-align: center;
}
.footer-form {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form-input {
    min-width: 398px;
    opacity: 0.3;
    left: 15px;
}

/* MENU */ /* MENU */ /* MENU */ /* MENU */
.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}
.mobile-menu.is-open {
  transform: translateX(0);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  transform: translateX(100%);
}
.menu-navigation-list-item {
color:#434455;
text-decoration: none;
}
.mobile-navigation-link {
  text-decoration: none;
}
.mobile-navigation-link.active {
  color:#404bbf;
}
.menu-cont-info {
    font-style: normal;
}
.close-button-menu {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  bottom: auto;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button-menu:hover,
.close-button-menu:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.mobile-menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    padding: 80px 24px 24px 24px;
}
.contact-info-tel {
    display: inline-block;
    color: #434455;
    margin-bottom: 40px;
    text-decoration: none;
}
.contact-info-mail {
  display: block;
  margin-bottom: 48px;
}
.contact-info-tel:hover,
.contact-info-mail:hover {
  color: #404bbf;
}
.contact-info-tel:focus,
.contact-info-mail:focus {
  color: #404bbf;
}
.contact-info-tel {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #404bbf;
  margin-bottom: 40px;
}
.contact-info-mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.active {
  color: #404bbf;
}
.menu-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contacts-wrapper .footer-social-list {
  justify-content: space-between;
}
.mobile-navigation-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color:#2E2F42;
}
.link {
    text-decoration: none;
  }
.list {
    list-style-type: none;
  }
  .mobile-menu-svg {
fill: #2e2f42
  }
  .mobile-menu-button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 22px;
}
.mobile-menu-svg {
  stroke: #2E2F42;
}