:root {
  --basic-color: #2e2f42;
  --additional-color: #4d5ae5;
  --white-color: #ffffff;
  --text-color: #434455;
  --cloud-color: #f4f4fd;
  --button-color: #404bbf;
  --accent-color: #e7e9fc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  letter-spacing: 0.02em;
  background: var(--white-color);
}
img {
  display: block;
}
/* Blocks */
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
/* Header */
.webstudio-header.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--additional-color);
  letter-spacing: 0.03em;
  align-items: center;
  text-transform: uppercase;
}
.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  color: var(--basic-color);
  align-items: center;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.webstudio-header.logo {
  margin-right: 76px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
}
.nav-list.link {
  padding: 24px 0;
}
.address {
  gap: 40px;
  display: flex;
}
.address-list.list {
  display: flex;
  gap: 40px;
}
.address-item {
  padding: 24px 0;
}
.adress-contact.link {
  transition: color var(--transition);
}
/* Header Navigation */
.nav-list.link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  transition: color var(--transition);
}
.nav-list.link:hover,
.nav-list.link:focus {
  color: var(--button-color);
}
.nav-list.link.is-active {
  color: #404bbf;
  transition: color var(--transition);
}
/* Address */
.address {
  font-style: normal;
  line-height: 1.5;
  margin-left: auto;
}
.adress.list {
  list-style: none;
  padding: 0;
}
.address-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  transition: color var(--transition);
  display: block;
  letter-spacing: 0.02em;
}

.address-contact.link:hover,
.address-contact.link:focus {
  color: var(--button-color);
}
.is-active {
  position: relative;
  color: #404bbf;
}

.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  bottom: -1px;
}
/* Hero */
.hero {
  background: var(--basic-color);
  text-align: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--additional-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  transition: background-color var(--transition);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-color);
}
.hero {
  padding: 188px 0;
}
.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
}
/* Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Features */
.features > ul {
  list-style-type: none;
}
.features-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--basic-color);
}
.features-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}
.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.features-name {
  margin-bottom: 8px;
}
.icons {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  align-items: center;
}
/* Examples */
.examples > ul {
  list-style-type: none;
}
.examples-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--basic-color);
}
.examples {
  padding-bottom: 120px;
}

.examples-title {
  margin-bottom: 72px;
}
.examples-list {
  display: flex;
  gap: 24px;
}
.examples-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
}
/* Team */
.team {
  background: var(--cloud-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team > ul {
  list-style-type: none;
}
.team-title {
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--basic-color);
}
.teammate-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
.teammate {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.teammate-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--basic-color);
}
.teammate-description {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
  fill: #ffffff;
}
.team-social-logo {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
.team {
  padding: 120px 0;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.teammate {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.teammate-container {
  padding: 32px 16px;
}
.teammate-name {
  text-align: center;
  margin-bottom: 8px;
}
.teammate-description {
  text-align: center;
}
/* Customers */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers .container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}
.customers-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-logo {
  fill: currentColor;
  width: 104px;
  height: 56px;
}
.customers-link:hover,
.customers-link:focus {
  fill: #2196f3;
  border: 1px solid #404bbf;
}
/* Footer */
.footer {
  background: var(--basic-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.webstudio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud-color);
}
.footer-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud-color);
}
.logotype-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--additional-color);
  letter-spacing: 0.03em;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-left-part {
  margin-right: 120px;
}
.footer-right-part {
  margin-right: 80px;
}
.footer-social-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
  list-style: none;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}
.footer {
  padding: 100px 0;
}
.footer-description {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.logotype-footer {
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}
.footer-form-name {
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  font-size: 12px;
  background-color: transparent;
  outline: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: border var(--transition);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form-input:focus,
.form-input:hover {
  border: 1px solid var(--button-color);
}

.form-input::placeholder {
  color: #ffffff;
}
.send-icon {
  fill: #ffffff;
  margin-left: 16px;
}
.send-button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  padding: 8px 24px 8px 24px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color var(--transition);
}
.send-button:hover,
.send-button:focus {
  background-color: var(--button-color);
}
/* Portfolio */
/* Hidden Title */
.hidden-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
/* Filter Buttons */
.filters > ul {
  list-style-type: none;
}
.filters-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--additional-color);
  background: var(--cloud-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus {
  background: var(--button-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Projects */
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--basic-color);
}
.project-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.filters {
  padding: 96px 0 120px;
}
.filters-list {
  outline: orange;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  background: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
}
.filter-button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-list.list {
  outline: tomato;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.projects-item {
  width: calc((100% - 48px) / 3);
}
.project-card-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.project-link {
  display: block;
  transition: box-shadow var(--transition);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.active-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translate(0, 100%);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .active-text {
  transform: translateY(0%);
}
.project-link:focus .active-text {
  transform: translateY(0%);
}
.project-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.projects-decription-container {
  position: relative;
  overflow: hidden;
}
/* Modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
}
.modal {
  position: absolute;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition);
}
.modal-form-package {
  margin-bottom: 8px;
}
.input-icon-package {
  position: relative;
}
.textarea-package {
  margin-bottom: 16px;
}
.checkbox-package {
  margin-bottom: 24px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-close-button {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition), border var(--transition);
}
.close-icon {
  transition: fill var(--transition);
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-button:hover .close-icon,
.modal-close-button:focus .close-icon {
  fill: #ffffff;
}
.contact-form-header {
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.modal-form {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.modal-form-name {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 44px;
  padding-right: 44px;
}
.modal-icon {
  position: absolute;
  left: 16px;
  bottom: 8px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-comment {
  outline: transparent;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 6px;
  display: block;

  transition: border-color, box-shadow;
  resize: none;
}

.modal-comment:focus {
  border: 1px solid;
}
.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus {
  border-color: #4d5ae5;
}
.checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  user-select: none;
  cursor: pointer;
}
.fake-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-label > .fake-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  text-decoration: underline;
  color: #4d5ae5;
}
.modal-form-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--button-color);
}
.input-title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-input {
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
